@import "reset.scss";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Kalam&family=Teko:wght@700&display=swap');

body {
    background: url(../img/bgsang.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    &.lock {
        overflow: hidden;
        padding-right: 17px;
    }
}

body::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

body::-webkit-scrollbar {
    width: 3px;
    background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
    background-color: #000;
}



.zoom {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 10;

    min-height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background: rgba(0, 0, 0, 0.5);
        height: 100%;
        width: 100%;
        z-index: 9;
    }
    &__body {
        position: relative;
        z-index: 12;

        max-width: 90vw;
        max-height: 90vh;
        margin: 20px;

        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;

            display: block;
        }
    }
}




.foto {
    background-color: #fff;
    padding: 2px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: -2px;
    border-radius: 20px 20px 0px 20px;
    overflow: hidden;
    cursor: zoom-in;
}

.foto-text {
    margin: -1px -4px 0px auto;
    font-size: 10px;
    font-family: 'Kalam', cursive;
    text-align: center;
    background: #fff;
    max-width: 100px;
    padding: 5px;
    position: relative;
    color: #000;
    z-index: 2;
    border-radius: 0px 0px 10px 10px;
    span {
        font-size: 12px;
        white-space: nowrap;
        color: #8a500e;
        font-weight: 600;
    }
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0px 20px;
}


.header {

    &__inner {
        padding: 50px 0px;
    }

	&__pages {
        text-align: center;
        background-color: #27813a;
        max-width: 100px;
        margin: 10px auto 0px auto;
        padding: 8px 5px 5px 6px;
        border-radius: 5px;
        cursor: pointer;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 50px;
            height: 50px;
            background-image: url(../img/Icons/arrow-down.png);
        }
	}

	&__pages-text {
        line-height: 9px;
        font-size: 9px;
        font-weight: 600;
        font-family: 'Teko', sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
	}



	&__pages-all {
        text-align: center;
	}

	&__pages-all-list {
        background-color: #27813a;
        max-width: 100px;
        padding: 15px 10px;
        margin: 10px auto 0px auto;
        border-radius: 15px;
	}

	&__pages-all-item {
        background-color:#c48608;
        max-width: 80px;
        margin: 0 auto 10px auto;
        padding: 2px 2px 5px 2px;
        border-radius: 5px;
        &:last-child {
            margin-bottom: 0px;
        }
	}

	&__pages-all-link {
        text-decoration: none;
        color: #fff;
        line-height: 10px;
        font-size: 10px;
        font-weight: 600;
        font-family: 'Teko', sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
	}
}

.menu {

    &__list {
        display: flex;
        justify-content: center;
    }

    &__item {
        perspective: 400px;
    }

    &__link {
        display: inline-block;
        font-size: 15px;
        line-height: 15px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #fff;
        text-decoration: none;
        background-color: #cc7410;
        padding: 10px;
        border-radius: 5px;
        transform: rotateX(30deg);
        border-bottom: 5px solid #aa671b;
        border-right: 5px solid #aa671b;
        border-left: 5px solid #aa671b;
        box-shadow: 0px 0px 6px 5px #cc7410;
        position: relative;
        pointer-events: none;
        &::after {
            visibility: hidden;
            content: '';
            position: absolute;
            width: 40px;
            height: 40px;
            top: -1px;
            right: -60px;
            background-image: url(../img/Icons/arrow.svg);
            background-size: cover;
            pointer-events: visible;
        }
    }

    &__link-2 {
        display: inline-block;
        transform: rotateX(30deg);
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 40px;
            height: 40px;
            top: -12px;
            right: 153px;
            background-image: url(../img/Icons/arrow.svg);
            background-size: cover;
            transform: rotateY(200deg);
        }
    }


}




.sang {

    &__inner {
        padding-bottom: 50px;
    }

    &__card-foto {
        padding: 50px 0px 100px 0px;
        text-align: center;
    }

    &__title {
        color: #c48608;
        font-size: 50px;
        line-height: 50px;
        font-family: 'Teko', sans-serif;
        font-weight: 700;
        text-shadow: 2px 2px 2px #000;
    }

    &__subtitle {
        color: #c48608;
        font-size: 50px;
        line-height: 100px;
        font-style: italic;
        font-family: 'Dancing Script', cursive;
        text-shadow: 5px 5px 5px #000;
    }

    &__foto {

    }

	&__item-foto-simple {
        display: flex;
        justify-content: space-around;
        margin-top: 0px;
        flex-wrap: wrap;
	}


	&__item-foto-inner-simple {
        max-width: 250px;
        max-height: 150px;
        margin-top: 50px;
	}

	&__foto-simple {
        
	}

	&__link-web {
        display: flex;
        justify-content: space-between;
	}

    &__link-web-inner-1 {
        
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 40px;
            height: 40px;
            top: -12px;
            left: 0;
            background-image: url(../img/Icons/arrow.svg);
            background-size: cover;
            transform: rotate(180deg);
            
        }
    }

    &__link-web-inner-2 {
        visibility: hidden;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            width: 40px;
            height: 40px;
            top: -12px;
            right: 0;
            background-image: url(../img/Icons/arrow.svg);
            background-size: cover;
            
        }
    }

	&__link-back {
        display: inline-block;
        padding-left: 45px;
        transform: skew(23deg, 0deg);
	}

	&__link-next {
        padding-right: 45px;
        position: relative;
        z-index: 1;
	}

    .link-web {
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-family: 'Kalam', cursive;
        font-size: 13px;
    }

}

.evgeniy-batonovich {
    max-width: 140px;
}

.alexandro-escobar {
    max-width: 130px;
}

.leopold-kuang {
    max-width: 110px;
}

.jonathan-baretto {
    max-width: 125px;
}

.matthew-gerera {
    max-width: 120px;
}